<h1 mat-dialog-title>Create a new Sensor</h1>
<div class="dialog-content" mat-dialog-content>
  <app-select-device [inDisabled]="false" [inValueSelectedInitial]="data?.element?.device.description"
    (outDeviceSelectedValue)="receivedMessageDevice($event)"></app-select-device>
  <app-select-datatype [inDisabled]="false" [inValueSelectedInitial]="data?.element?.dataType.description"
    (outDataTypeSelected)="receivedMessageDataType($event)"></app-select-datatype>
</div>

<div mat-dialog-actions>
  <button mat-button  (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="this.device" *ngIf="!data?.element?.id" (click)="onClicked()" cdkFocusInitial>Create new Sensor</button>
  <button mat-button  *ngIf="data?.element?.id" (click)="onSaveEdits(data?.element)" cdkFocusInitial>Save Edits</button>
</div>