<h1 mat-dialog-title>Create a new Sensor - {{data.name}}</h1>

<div class="dialog-content" mat-dialog-content>
  <app-select-device [inDisabled]="false" (outDeviceSelectedValue)="receivedMessageDevice($event)" ></app-select-device>
  <app-select-datatype [inDisabled]="false" (outDataTypeSelected)="receivedMessageDataType($event)"></app-select-datatype>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" (click)="onClicked()" cdkFocusInitial>Create a new sensor</button>
</div>
