<h1 mat-dialog-title>Create a new Sensor - {{data.name}}</h1>

<div class="dialog-content" mat-dialog-content>
 <!--  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->

    <p>
        <mat-form-field class="full-width">
            <mat-label>Select your Device</mat-label>
            <mat-select>
                <mat-option>Device 1</mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Include data type for device</mat-label>
            <input matInput placeholder="Include data type for Sensor">
        </mat-form-field>
    </p>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Create a new sensor</button>
</div>
