<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span> <button type="button" mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button> Agricultural</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Botão para acessar o dashboard">
            <mat-icon>dashboard</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/dashboard/account']" routerLinkActive="router-link-active">
                <mat-icon>account_circle</mat-icon>
                <span>Account</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Disconect</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>