
mat-icon {padding: 0 14px;}

mat-list-item:hover{
    background: linear-gradient(
        to left,
        #f00261,
        #c2185b
    );
    border-radius: 8px;
}

.router-link-active{
    background: linear-gradient(
        to left,
        #24010f,
        #5a1631,
        #634652,
        gray
    );
    border-radius: 12px;
}