<mat-card>
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-subtitle>{{ today | date}}</mat-card-subtitle>
    <mat-card-subtitle>Bem vindo [Romário]</mat-card-subtitle>

    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let item of drawerMenu" [routerLink]="item.routerLink" routerLinkActive="router-link-active" > 
                <mat-icon>{{item.icon}}</mat-icon>{{ item.name }}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>