<mat-card>
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-subtitle>{{ today | date}}</mat-card-subtitle>
    <mat-card-subtitle>Bem vindo {{ person?.name }}</mat-card-subtitle>

    <mat-card-content>
        <mat-list role="list">
            <div class="button-row" *ngFor="let item of drawerMenu" [routerLink]="item.routerLink" routerLinkActive="router-link-active" >
                <button mat-button><mat-icon>{{item.icon}}</mat-icon>{{ item.name }}</button>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>