<mat-card>
  <mat-card-title>Registration form</mat-card-title>
  <mat-card-subtitle>fill out the form with the requested information.</mat-card-subtitle>
    <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="dadosPessoais">
              <form [formGroup]="dadosPessoais">
                <ng-template matStepLabel>Personal Data</ng-template>
       
               <p>
                    <mat-form-field>
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Enter your full name" formControlName="name" required>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </p>
       
                <p>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose date of birth" formControlName="birth" dateFormat="dd-MM-yyyy">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </p>
    
                <p>
                  <mat-form-field>
                      <mat-label>Select your country</mat-label>
                      <mat-select formControlName="country">
                          <mat-option *ngFor="let pais of country" (change)="updateFormGroupContato()"  [value]="pais.id">{{ pais.nameEn }}</mat-option>
                      </mat-select>
                  </mat-form-field>
               </p>
               
               <div class="btn">
                  <button mat-button matStepperNext (click)="updateFormGroupContato()">Next</button>
                </div>
              </form>
            </mat-step>
    
            <!--Dados Contato -->
            <mat-step [stepControl]="contato">
              <form [formGroup]="contato">
                <ng-template matStepLabel>contact</ng-template>
    
                <p>
                    <mat-form-field>
                        <mat-label>Inform your email</mat-label>
                        <input matInput placeholder="Email" formControlName="mail" type="email" required>
                        <mat-icon matSuffix>mail</mat-icon>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </p>
    
                <p>
                    <mat-form-field>
                        <mat-label>Code idd</mat-label>
                        <mat-select formControlName="phoneCode">
                            <mat-option *ngFor="let pais of country" [value]="pais.phoneCode"> {{pais.phoneCode}} - {{ pais.nameEn }}</mat-option>
                        </mat-select>
                        <mat-hint>idd - international direct dial</mat-hint>
                    </mat-form-field>
                 </p>
    
                <p>
                    <mat-form-field>
                        <mat-label>Contact number</mat-label>
                        <input matInput placeholder="Phone or mobile number" formControlName="phone" type="tel" required>
                        <mat-icon matSuffix>smartphone</mat-icon>
                        <mat-hint>expected format: DDDXXXXXXXX </mat-hint>
                    </mat-form-field>
                </p>
    
                <div class="btn">
                  <button mat-button matStepperPrevious>Back</button> &nbsp;
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
          
            <mat-step [stepControl]="auth">
              <form [formGroup]="auth">
                <ng-template matStepLabel>Authentication</ng-template>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>choose a password</mat-label>
                      <input matInput placeholder="Choose a password" formControlName="senha" type="password"
                        (keyup)="checkPasswords(auth)" required minlength="8">
                      <mat-icon matSuffix>password</mat-icon>
                      <!-- <mat-hint *ngIf="auth.hasError('passLength')">Deve possuir ao menos 8 caracteres.</mat-hint> -->
                      <mat-hint *ngIf="auth.value.senha.length < 8 ">Must be at least 8 characters</mat-hint>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>Confirm the password</mat-label>
                      <input matInput placeholder="Confirm the Password" formControlName="cosenha" type="password" required minlength="8">
                      <mat-icon matSuffix>smartphone</mat-icon>
                      <mat-hint *ngIf="auth.hasError('notSame')">Passwords do not match!</mat-hint>
                    </mat-form-field>
                  </p>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
    </mat-card-content>
   
    <mat-card-actions class="centerButtons"  >
        <button mat-raised-button [disabled]="auth.status == 'VALID'? false : true" color="primary" (click)="sendForm()">Signup</button>
    </mat-card-actions>
</mat-card>