<mat-drawer-container class="container">
    <!-- <mat-drawer #drawer mode="side" opened (mouseleave)="drawer.toggle()" (blur)="drawer.toggle()"> -->
    <mat-drawer #drawer mode="side" opened><app-mat-drawer></app-mat-drawer></mat-drawer>

    <mat-drawer-content>
        <app-toolbar-dashboard></app-toolbar-dashboard>
        <h1>Account</h1>
       
        <mat-card>
            <mat-card-title>{{ person ? 'Account information' : 'Loading person...'}}</mat-card-title>
            <mat-card-subtitle>{{ person ? 'Edit your account information' :'search information account in database'}} </mat-card-subtitle>

            <mat-card-content *ngIf="person else loading">
              <mat-accordion>
                <mat-expansion-panel expanded="true" >
                  <mat-expansion-panel-header>
                    <mat-panel-title>Personal data</mat-panel-title>
                    <mat-panel-description>Personal information</mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field><input matInput placeholder="Full name" [(ngModel)]="person.name" [disabled]="!editForm"></mat-form-field>
                  <mat-form-field> <input matInput placeholder="Birth" [value]="person.birth | date: 'dd/MM/yyyy'" [disabled]="!editForm"></mat-form-field>

                  <!--   <p><mat-form-field>
                      <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" 
                      placeholder="Birth date" [(ngModel)]="dateBirth" [disabled]="!editForm">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field></p> -->
                </mat-expansion-panel>
            
                <mat-expansion-panel>
                  <mat-expansion-panel-header open="true">
                    <mat-panel-title>Contact</mat-panel-title>
                    <mat-panel-description>Contact information</mat-panel-description>
                  </mat-expansion-panel-header>
            
                  <mat-form-field>
                    <input matInput placeholder="Email" [value]="person.mail" [disabled]="!editForm">
                  </mat-form-field>
          
          
                  <mat-form-field>
                    <input matInput placeholder="Contact" [value]="person.phone" [disabled]="!editForm">
                  </mat-form-field>
                </mat-expansion-panel>
            
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Account</mat-panel-title>
                    <mat-panel-description>Your Account Information</mat-panel-description>
                  </mat-expansion-panel-header>
            
            
                  <mat-form-field>
                    <input matInput placeholder="Created in" [value]="person.createdAt | date: 'dd/MM/yyyy'" disabled>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Expires in" [value]="person.expireAt | date: 'dd/MM/yyyy'" disabled>
                  </mat-form-field>
                  <mat-slide-toggle [checked]="person.admin" [disabled]="!person.admin ? 'true' : 'false'">
                    {{person.name.split(' ', 1)}}, your user is a {{ person.admin ? 'Mananger Cooperativa' : 'Cooperado' }}.
                  </mat-slide-toggle>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>
          
           <!--  <mat-card-actions *ngIf="person">
              <button mat-raised-button color="primary" (click)="editForm = !editForm; savePerson()">
                <mat-icon>{{editForm == true ? 'save' : 'edit'}}</mat-icon> {{editForm == true ? 'Save Edits' : 'Edit'}}
              </button>
          
              <button mat-raised-button color="accent" [disabled]="editForm" (click)="deletePerson()" > <mat-icon>delete</mat-icon>Delete</button>
            </mat-card-actions> -->
          </mat-card>
          
          <ng-template class="loading" #loading>
            <mat-spinner diameter="50"></mat-spinner>
          </ng-template>
          
          
          <!-- 
          <pre class="pre">
              {{person | json}}
          </pre> -->
       
        
    </mat-drawer-content>
    
</mat-drawer-container>