<mat-drawer-container class="container">
    <!-- <mat-drawer #drawer mode="side" opened (mouseleave)="drawer.toggle()" (blur)="drawer.toggle()"> -->
    <mat-drawer #drawer mode="side" opened><app-mat-drawer></app-mat-drawer></mat-drawer>

    <mat-drawer-content>
        <app-toolbar-dashboard></app-toolbar-dashboard>
        <h1>Bem vindo ao projeto</h1>
        <h4>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Ut sollicitudin orci nibh, et gravida orci consequat at.
            Praesent eget metus congue, feugiat dolor a, vestibulum ipsum. Quisque ultrices commodo 
            sollicitudin. Duis hendrerit hendrerit elit non consectetur. Sed posuere ullamcorper lorem,
            non condimentum tortor convallis eu. Donec non massa pretium, dictum purus vitae, ultricies
            ipsum. Morbi vestibulum id neque eget rhoncus. Ut elementum ac ligula at condimentum. Lorem 
            ipsum dolor sit amet, consectetur adipiscing elit. In dapibus lectus quis lorem dignissim pellentesque.
            Cras auctor urna urna, eu eleifend arcu rutrum ut. Donec finibus luctus ligula vel dictum. Nunc efficitur
            tincidunt tortor, vel venenatis lectus. Curabitur finibus vestibulum mollis. Aliquam consectetur 
            sapien id iaculis fermentum. Mauris quis auctor ipsum.
        </h4>
        
    </mat-drawer-content>

</mat-drawer-container>


