<mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" opened (mouseleave)="drawer.toggle()" (blur)="drawer.toggle()">

        <mat-card>
            <mat-card-title>Dashboard</mat-card-title>

            <mat-card-content>
                    <mat-list role="list">
                            <mat-list-item role="listitem">
                                <mat-icon>close</mat-icon>Chart
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                    <mat-icon>close</mat-icon>Chart
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon>settings</mat-icon>Configurações
                            </mat-list-item>
                            <mat-list-item role="listitem" (click)="logout()">
                                <mat-icon>exit_to_app</mat-icon>Desconectar
                            </mat-list-item>
                        </mat-list>
            </mat-card-content>
        </mat-card>
        <button type="button" mat-button (click)="drawer.toggle()"><mat-icon>exit_to_app</mat-icon> Desconectar</button>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span> <button type="button" mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button> Agricultural</span>
                <span class="spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Botão para acessar o dashboard">
                    <mat-icon>dashboard</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
                        <mat-icon>account_circle</mat-icon>
                        <span>Account</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Disconect</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        
    </mat-drawer-content>
</mat-drawer-container>

