.container {
    width: 100%;
    height: 100%;
    border: 1px solid #555;
}

.icon {padding: 0 14px;}
.spacer {flex: 1 1 auto;}

mat-icon{
    padding: 0 10px;
}

mat-list-item:hover{
    background-color: dimgrey;
}

.router-link-active{
    background-color: gray;
    border: 1px dashed black;
}

mat-drawer{
    width: 15%;
}
