<mat-drawer-container class="container">
    <!-- <mat-drawer #drawer mode="side" opened (mouseleave)="drawer.toggle()" (blur)="drawer.toggle()"> -->
    <mat-drawer #drawer mode="side" opened>
        <app-mat-drawer></app-mat-drawer>
    </mat-drawer>

    <mat-drawer-content>
        <app-toolbar-dashboard></app-toolbar-dashboard>

        <mat-card *ngIf="cardVisible == true">
            <mat-card-title>{{ (createOrEdit ? 'Create new' : 'Edit')}} Data Type</mat-card-title>
            <mat-card-subtitle>{{ (createOrEdit ? 'Criar' : 'Editar')}} uma representação do tipo de dado que serão coletados por sensores IoT.</mat-card-subtitle>

            <mat-card-content>
                <form [formGroup]="datatype">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Data Type Description</mat-label>
                        <input matInput placeholder="Inform your data type" formControlName="description" [value]="this.datatype.value.description" >
                        <mat-hint>{{datatype.value.description}}</mat-hint>
                    </mat-form-field>
                </form>
                
            </mat-card-content>

            <mat-card-actions>
               <!--  <button mat-button color="warn" (click)="cardVisible = false">Cancel</button> -->
                <button mat-button *ngIf="createOrEdit" (click)="insertDataType()">Create</button>
                <button mat-stroked-button *ngIf="!createOrEdit" (click)="updateDataType()">
                    <mat-icon>save</mat-icon> Save
                </button>
            </mat-card-actions>

        </mat-card>


        <mat-card *ngIf="dataSource else loading">
            <mat-card-title>Data Type
                <button mat-mini-fab color="primary" class="addIcon" matTooltip="Include new data type" (click)="cardVisible = true; createOrEdit = true">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-title>
           
            <mat-card-subtitle>Representação do tipo de dado que serão coletados por sensores IoT. 
            Exemplos: temperatura, umidade, velocidade do vento, etc.</mat-card-subtitle>
            
            <mat-card-content>
                <mat-form-field class="addIcon">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar resultados">
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <div class="example-button-row">
                                <button mat-button class="addIcon" matTooltip="Delete data type" (click)="deleteDataType(dataSource.data[i])"><mat-icon>delete</mat-icon></button>
                                <button mat-button class="addIcon" matTooltip="Edit data type"
                                (click)="
                                    this.datatype.value.description = dataSource.data[i].description;
                                    dTypeGlobal = dataSource.data[i];
                                    cardVisible = true;
                                    createOrEdit = false;"
                                ><mat-icon>edit</mat-icon></button>
                            </div>
                        </td>
                        
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

              

            </mat-card-content>
        </mat-card>

    </mat-drawer-content>
</mat-drawer-container>

<ng-template #loading>
    <mat-card>
        <mat-spinner diameter="20"></mat-spinner>
        <p class="load">Load information data type</p>
    </mat-card>
</ng-template>