<mat-drawer-container class="container">
        <!-- <mat-drawer #drawer mode="side" opened (mouseleave)="drawer.toggle()" (blur)="drawer.toggle()"> -->
        <mat-drawer #drawer mode="side" opened><app-mat-drawer></app-mat-drawer></mat-drawer>
    
        <mat-drawer-content>
            <app-toolbar-dashboard></app-toolbar-dashboard>
        <!--     <h1>Data Type</h1>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>

 -->
            <mat-card>
                <mat-card-title>Data Type
                    <button mat-mini-fab color="primary" class="addIcon" matTooltip="Include new data type">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-card-title>
                <mat-card-subtitle>Representa o tipo de dado que é coletado por sensores de IoT. Exemplos: temperatura, umidade, velocidade do vento, etc.</mat-card-subtitle>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                    
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef> Weight </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
                    
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element"> 
                                <div class="example-button-row">
                                    <button mat-button class="addIcon" matTooltip="Delete data type"><mat-icon>delete</mat-icon></button>
                                    <button mat-button class="addIcon" matTooltip="Edit data type"><mat-icon>edit</mat-icon></button>
                                    <button mat-button class="addIcon" matTooltip="View data type"><mat-icon>view_list</mat-icon></button>
                                </div>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-card-content>

              <!--   <mat-card-actions>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary">Primary</button>
                        <button mat-raised-button color="accent">Accent</button>
                        <button mat-raised-button color="warn">Warn</button>
                    </div>
                </mat-card-actions> -->

            </mat-card>
        </mat-drawer-content>
   
    </mat-drawer-container>
    