<mat-drawer-container class="container">
        <!-- <mat-drawer #drawer mode="side" opened (mouseleave)="drawer.toggle()" (blur)="drawer.toggle()"> -->
        <mat-drawer #drawer mode="side" opened><app-mat-drawer></app-mat-drawer></mat-drawer>
    
        <mat-drawer-content>
            <app-toolbar-dashboard></app-toolbar-dashboard>
            <h1>Internet of Things</h1>
           
            <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
                <mat-grid-tile [routerLink]="['/dashboard/iot/datatype']">Data Type</mat-grid-tile>
                <mat-grid-tile [routerLink]="['/dashboard/iot/device']">Device</mat-grid-tile>
                <mat-grid-tile [routerLink]="['/dashboard/iot/measurement']">Meansurement</mat-grid-tile>
                <mat-grid-tile [routerLink]="['/dashboard/iot/sensor']">Sensor</mat-grid-tile>
            </mat-grid-list>
        </mat-drawer-content>
    
    </mat-drawer-container>