<p>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" [type]="passVisible ? 'text' : 'password' " [formControl]="pass"  (change)="passChange()" required>
        <mat-icon matSuffix (click)="passVisible = !passVisible">{{ passVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
        <!-- <mat-error *ngIf="pass.invalid">{{getErrorMessage()}}</mat-error> -->
        <mat-error *ngIf="pass.status == 'INVALID'">Sua senha deverá possuir ao menos 8 caracteres.</mat-error>
    </mat-form-field>
</p> 